<div class="container-fluid">
  <div class="row back">
    <!-- <img src="../../../assets/Rectangle.svg" alt="" /> -->
    <!-- <div class="row secBack"> -->
    <div class="col-md-4 col-sm-12 align">
      <h3>Group <span class="blue">What’sApp</span></h3>
      <h3>messaging service</h3>
      <div class="Content">
        Autowats is a sending tool for WhatsApp. It works as a WhatsApp
        Marketing Tool to send notifications/messages on WhatsApp. You can send
        personalized messages, attachments to users on WhatsApp.
      </div>
      <button class="btn mt-3 text-white">Get Started</button>
    </div>
    <!-- <div class="col-6"> -->
    <!-- <img src="../../../assets/Group.svg" class="mobile" alt="" /> -->
    <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
