<div class="container-fluid">
  <div class="row mt-5">
    <h3 class="text-center mt-5">Our Features</h3>
    <img src="../../../assets/Line 7.svg" class="line" alt="" />
    <div class="d-flex flex-wrap flex-lg-nowrap mt-5 justify-content-center">
      <div class="feature__Cont d-flex ms-3 me-3 px-2 py-2 mb-2">
        <img
          src="../../../assets/Message Information 2.svg"
          class="mt-5 mb-4"
          alt=""
        />
        <h5 class="text-center mt-2 mb-4">lorrem ipsum</h5>
        <p class="px-1 text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere iste
          tempore deleniti deserunt excepturi ea doloremque, officiis rerum
          beatae, voluptatibus quidem praesentium accusantium commodi veniam ab,
          dolores quam asperiores nisi.
        </p>
      </div>
      <div class="feature__Cont d-flex ms-3 me-3 px-2 py-2 mb-2">
        <img
          src="../../../assets/Message Information 2.svg"
          class="mt-5 mb-4"
          alt=""
        />
        <h5 class="text-center mt-2 mb-4">lorrem ipsum</h5>
        <p class="px-1 text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere iste
          tempore deleniti deserunt excepturi ea doloremque, officiis rerum
          beatae, voluptatibus quidem praesentium accusantium commodi veniam ab,
          dolores quam asperiores nisi.
        </p>
      </div>
      <div class="feature__Cont d-flex ms-3 me-3 px-2 py-2 mb-2">
        <img
          src="../../../assets/Message Information 2.svg"
          class="mt-5 mb-4"
          alt=""
        />
        <h5 class="text-center mt-2 mb-4">lorrem ipsum</h5>
        <p class="px-1 text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere iste
          tempore deleniti deserunt excepturi ea doloremque, officiis rerum
          beatae, voluptatibus quidem praesentium accusantium commodi veniam ab,
          dolores quam asperiores nisi.
        </p>
      </div>
      <div class="feature__Cont d-flex ms-3 me-3 px-2 py-2 mb-2">
        <img
          src="../../../assets/Message Information 2.svg"
          class="mt-5 mb-4"
          alt=""
        />
        <h5 class="text-center mt-2 mb-4">lorrem ipsum</h5>
        <p class="px-1 text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere iste
          tempore deleniti deserunt excepturi ea doloremque, officiis rerum
          beatae, voluptatibus quidem praesentium accusantium commodi veniam ab,
          dolores quam asperiores nisi.
        </p>
      </div>
    </div>
  </div>
</div>
